@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root{
    --pink: #FBA89D;
    --lightColor: #FCFAF9;
    --darkColor: #2C2726;
    --black: #1a1a1a;
    --cream: #ede4d3;
    --lightCream: #fff6e5;
    --green: #b2caa9;
    --blue: #339eb8;
    --yellow: #eac562;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;  /* 1rem = 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
h1, h2, h3, p{
    margin: 0;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    color: #474D5D;
}
.fa-solid{
    font-size: 2.5rem;
    color: var(--lightColor);
}
h1{
    font-size: 2.8rem;
    font-weight: 700;
}
h2{
    font-size: 2.3rem;
    font-weight: 700;
}
p{
    font-size: 1.6rem;
    font-weight: 400;
}

/*Nav*/
body{
    background-color: #FFFEFB;
}
.navbar{
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2rem;
    background-color: var(--green);
}

/*Hero*/
.hero-movie{
    width: 100%;
    height: 40vh;
}
.video-movie{
    width: 100%;
    height: 100%;
}
/*Info Movie*/
.movie-container{
    width: 100%;
    height: 20rem;
    position: relative;
}
.cover-img{
    width: 30%;
    max-width: 13rem;
    position: absolute;
    right: 1.5rem;
    top: -3rem;
    border-radius: 1rem;
}
.movie-titles{
    width: 65%;
    padding-left: 2.5rem;
    padding-top: 2rem;
}
.movie-info__titleJ{
    color: #585F56;
    margin: 1rem 0;
    font-weight: 600;
}
.movie-data-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.p-info{
    font-weight: 500;
}
hr{
    height: 2rem;
    border: none;
    border-left: 2px solid var(--green);
}

/*Icons*/
.movie-info-icons{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(178, 202, 169, 0.4);
    padding: 0.5rem 0;
}
/*check*/
.fa-circle-check{
    font-size: 3rem;
    background-color: rgba(239, 239, 239, 0.3);
    border-radius: 50%;
}

.movie-checkbox, .movie__watched{
    display: none;
}
input[type=checkbox]:checked + label:before{
    content: "\f058";
    border-radius: 50%;
    color: #5FEB01;
    background-color: #E5FFD3;
}
.fa-circle-check:before {
    content: "\f058";
    color: var(--darkColor);
}
/*stars*/
.movie-info__stars input{
    display: none;
}
.movie-info__stars{
    display: flex;
    flex-direction: row-reverse;
}
.movie-info__stars label{
    font-size: 2rem;
    color: #7A7A7A;
    margin-right: 1rem;
}
.movie-info__stars input:checked ~ label{
    color: #fd4;
}
/*Synopsis*/
.movie-info{
    width: 85%;
    margin: auto;
    margin-top: 4rem;
    padding-bottom: 2rem;
}
.movie-synopsis__title{
    margin-bottom: 2rem;
}
.movie-info__synopsis{
    margin-bottom: 7rem;
    text-align: justify;
}
.movie-link{
    font-size: 1.6rem;
    color: var(--darkColor);
    text-align: right;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    color: #474D5D;
    font-weight: 500;
    text-decoration: none;
}
.movie-link::after{
    content: "\00bb";
    padding-left: 0.5rem;
}
.movie-link:hover{
    font-weight: 700;
}
/*footer*/
.footer{
    padding: 1rem 0;
    text-align: center;
    background-color: var(--green);
    color: var(--lightColor);
}
.footer p{
    color: var(--lightColor);
}
.github-link{
    color: var(--lightColor);
}

/*MEDIA QUERIES*/
@media screen and (min-width: 768px){
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 2.8rem;
    }
    p{
        font-size: 2.1;
    }
    /*Hero*/
    .hero-movie{
        height: 60vh;
    }
    /*Info Movie*/
    .movie-container{
        height: 18rem;
        display: flex;
        align-items: center;
    }
    .cover-img{
        max-width: 18rem;
        right: 7%;
        top: -5rem;
    }
    .movie-titles{
        width: 65%;
        padding-left: 5rem;
        padding-top: 1rem;
    }
    .movie-data-container{
        width: 50%;
        justify-content: space-between;
    }
    /*Icons*/
    .movie-info-icons{
        width: 80%;
        margin: 0;
    }
    
}
@media screen and (min-width: 1024px){
    /*Info Movie*/
    .cover-img{
        max-width: 23rem;
        right: 7%;
        top: -5rem;
    }
    .movie-titles{
        margin-left: 10rem;
    }
    .movie-data-container{
        width: 50%;
        justify-content: space-between;
    }
    /*Icons*/
    .movie-info-icons{
        width: 45%;
        margin: auto;
        justify-content: space-around;
    }
    .movie-info{
        width: 75%;
        margin: auto;
        margin-top: 4rem;
        padding-bottom: 2rem;
    }
}